@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@500&family=Kumbh+Sans&family=Lexend+Deca:wght@500&display=swap");

:root {
  --font-weight-sm: 400;
  --font-weight-big: 700;
  --font-body: "Kumbh Sans", sans-serif;
  --font-footer: "Inter", sans-serif;
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-destructed-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-body);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-color: var(--dark-cyan);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  font-size: 1.8rem;
  width: 100%;
}

.container {
  width: 90%;
  margin: 10rem auto 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  height: 100%;
}

.profile-width {
  text-align: center;
}

.background-profile {
  background-image: url(../images/bg-pattern-card.svg);
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
}

.profile {
  border-bottom: 1px solid var(--dark-gray);
  padding-bottom: 2rem;
  margin-top: -5rem;
}

.profile img {
  border-radius: 50%;
  border: 1rem solid white;
}

.name {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.stat {
  font-weight: var(--font-weight-big);
  color: var(--dark-destructed-blue);
  font-size: 2rem;
}

.stat-info,
.age {
  color: var(--dark-grayish-blue);
  font-weight: var(--font-weight-sm);
}

.media {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem;
}

.attribution {
  font-size: 2rem;
  font-family: var(--font-footer);
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease-in-out;
}

.attribution a:hover {
  color: cyan;
}

.attribution a:active {
  color: red;
}

@media screen and (min-width: 400px) {
  .container {
    max-width: 40rem;
  }
}
